.container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  min-width: 650px;
  max-width: 650px;
  display: block;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 10px;
  text-transform: uppercase;
}

.line-1 {
  display: flex;
  width: 60px;
  transform: rotate(120deg);
  border-color: rgb(0, 0, 0);
  top: 10px;
  position: relative;
}

.line-2 {
  display: flex;
  width: 60px;
  position: relative;
  transform: rotate(120deg);
  border-color: rgb(0, 0, 0);
  top: -7px;
  left: 10px;
}

.cities {
  text-align: center;
}

.col-3 a {
  font-size: 20px;
  color: black;
  position: relative;
  top: 95px;
}

.col-3 a:hover {
  color: gray;
}

.searchbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.search-city {
  width: 100%;
  border-right-color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.search-button {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.current-weather-border {
  width: 205px;
  height: 282px;
  margin-top: 15px;
  border-right: 1.5px solid black;
}

.h2-vertical {
  position: absolute;
  font-size: 29px;
  margin-left: 10px;
  margin-bottom: 10px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
}

.current-weather-border img {
  position: absolute;
  width: 160px;
  margin-left: 35px;
  margin-top: -25px;
}

.current-weather-discription {
  display: block;
  position: absolute;
  margin-left: 85px;
  margin-top: 105px;
  font-size: 20px;
  color: darkgrey;
  text-transform: uppercase;
}

.current-temperature {
  position: absolute;
  font-size: 50px;
  font-weight: 400;
  margin-left: 85px;
  margin-top: 150px;
}

.temp-units {
  position: absolute;
  display: block;
  font-size: 20px;
  margin-left: 140px;
  margin-top: 145px;
}

.weather-forecast {
  font-size: 18px;
  margin-top: 15px;
  margin-left: 10px;
}

.forecast-row {
  width: fit-content;
  margin-top: 13px;
  margin-bottom: auto;
}

.weather-forecast-days {
  position: absolute;
  font-weight: 700;
}

.temp-max {
  position: absolute;
  margin-left: 100px;
}

.temp-min {
  position: absolute;
  color: darkgrey;
  margin-left: 140px;
}

.icon {
  position: absolute;
  z-index: 10;
  margin-left: 220px;
  margin-top: -13px;
}

.forecast-img {
  width: 55px;
}

.forecast-description {
  position: absolute;
  margin-left: 320px;
  text-transform: uppercase;
}

.col-4 {
  width: 200px;
  padding: 0;
}

.row.weather {
  height: 254px;
  border-bottom: 1.5px solid black;
}

.currentDate {
  position: absolute;
  font-weight: 600;
  font-size: 40px;
  margin-top: -44px;
  margin-left: 30px;
}

.wind-humidity {
  position: absolute;
  margin-left: 195px;
  margin-top: 265px;
}

.humidity {
  margin-left: 10px;
  font-size: 20px;
  display: inline;
}

.wind {
  margin-left: 10px;
  font-size: 20px;
  display: inline;
}

footer {
  display: block;
  text-align: center;
  margin-top: 150px;
}

footer a {
  color: black;
}

footer a:hover {
  color: gray;
}

.img-button {
  width: 60px;
  border: none;
  background: none;
}
